div.diamond.second-base {
  border: 13px solid transparent;
  border-bottom: 13px solid #CBCCCE;
  box-sizing: border-box;
  clear: both;
  color: #6C6D6F;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 0;
  line-height: inherit;
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: -2px;
  vertical-align: baseline;
  width: 0;
}

div.diamond.second-base:after {
  border: 13px solid transparent;
  border-top: 13px solid #CBCCCE;
  content: "";
  height: 0;
  left: -13px;
  position: absolute;
  top: 13px;
  width: 0;
}

div.diamond.second-base.active {
  border: 13px solid transparent;
  border-bottom: 13px solid #0066CC;
  box-sizing: border-box;
  clear: both;
  color: #6C6D6F;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 0;
  line-height: inherit;
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: -2px;
  vertical-align: baseline;
  width: 0;
}

div.diamond.second-base.active:after {
  border: 13px solid transparent;
  border-top: 13px solid #0066CC;
  content: "";
  height: 0;
  left: -13px;
  position: absolute;
  top: 13px;
  width: 0;
}

div.diamond.third-base {
  border: 13px solid transparent;
  border-bottom: 13px solid #CBCCCE;
  box-sizing: border-box;
  color: #6C6D6F;
  float: left;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 0;
  line-height: inherit;
  margin: 0 4px 0 0;
  padding: 0;
  position: relative;
  top: -13px;
  vertical-align: baseline;
  width: 0;
}

div.diamond.third-base:after {
  border: 13px solid transparent;
  border-top: 13px solid #CBCCCE;
  content: "";
  height: 0;
  left: -13px;
  position: absolute;
  top: 13px;
  width: 0;
}

div.diamond.third-base.active {
  border: 13px solid transparent;
  border-bottom: 13px solid #0066CC;
  box-sizing: border-box;
  color: #6C6D6F;
  float: left;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 0;
  line-height: inherit;
  margin: 0 4px 0 0;
  padding: 0;
  position: relative;
  top: -13px;
  vertical-align: baseline;
  width: 0;
}

div.diamond.third-base.active:after {
  border: 13px solid transparent;
  border-top: 13px solid #0066CC;
  content: "";
  height: 0;
  left: -13px;
  position: absolute;
  top: 13px;
  width: 0;
}

div.diamond.first-base {
  border: 13px solid transparent;
  border-bottom: 13px solid #CBCCCE;
  box-sizing: border-box;
  color: #6C6D6F;
  float: right;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 0;
  line-height: inherit;
  margin: 0;
  padding: 0;
  position: relative;
  top: -13px;
  vertical-align: baseline;
  width: 0;
}

div.diamond.first-base:after {
  border: 13px solid transparent;
  border-top: 13px solid #CBCCCE;
  content: "";
  height: 0;
  left: -13px;
  position: absolute;
  top: 13px;
  width: 0;
}

div.diamond.first-base.active {
  border: 13px solid transparent;
  border-bottom: 13px solid #0066CC;
  box-sizing: border-box;
  color: #6C6D6F;
  float: right;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 0;
  line-height: inherit;
  margin: 0;
  padding: 0;
  position: relative;
  top: -13px;
  vertical-align: baseline;
  width: 0;
}

div.diamond.first-base.active:after {
  border: 13px solid transparent;
  border-top: 13px solid #0066CC;
  content: "";
  height: 0;
  left: -13px;
  position: absolute;
  top: 13px;
  width: 0;
}



div.circleGraphs {
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  float: right;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  overflow: hidden;
  padding: 2px 0 5px;
  vertical-align: baseline;
  width: auto;
}

div.circleGraph.four {
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  float: none;
  font-family: inherit;
  font-size: 10px;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  line-height: 11px;
  margin: 0 6px 5px 0;
  overflow: hidden;
  padding: 0;
  vertical-align: baseline;
  width: 64px;
}

span.abbrev {
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0 5px 0 0;
  padding: 0;
}

span.circle.balls.active {
  background-color: #009944;
  border-radius: 10px;
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 10px;
  line-height: inherit;
  margin: 0 3px 0 0;
  padding: 0;
  width: 10px;
}

span.circle.balls {
  background-color: #CBCCCE;
  border-radius: 10px;
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 10px;
  line-height: inherit;
  margin: 0 3px 0 0;
  padding: 0;
  width: 10px;
}

div.circleGraph {
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  float: none;
  font-family: inherit;
  font-size: 10px;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  line-height: 11px;
  margin: 0 6px 5px 0;
  overflow: hidden;
  padding: 0;
  vertical-align: baseline;
  width: auto;
}

span.circle.strikes.active {
  background-color: #DD0000;
  border-radius: 10px;
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 10px;
  line-height: inherit;
  margin: 0 3px 0 0;
  padding: 0;
  width: 10px;
}

span.circle.strikes {
  background-color: #CBCCCE;
  border-radius: 10px;
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 10px;
  line-height: inherit;
  margin: 0 3px 0 0;
  padding: 0;
  width: 10px;
}

span.circle.outs.active {
  background-color: #DD0000;
  border-radius: 10px;
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 10px;
  line-height: inherit;
  margin: 0 3px 0 0;
  padding: 0;
  width: 10px;
}

span.circle.outs {
  background-color: #CBCCCE;
  border-radius: 10px;
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 10px;
  line-height: inherit;
  margin: 0 3px 0 0;
  padding: 0;
  width: 10px;
}

span.winningIndicator {
  width: 0;
  height: 0;
  margin-right: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right: 10px solid black;
}



figcaption.highlightVideoText {
  position: absolute;
  bottom: 1rem;
  margin: 0 1rem;
  color: black;
  font-size: .9em;
}