.NFL-Cardinals-primary {
  background-color: #97233f;
}

.NFL-Cardinals-secondary {
  background-color: #000000;
}

.NFL-Falcons.primary {
  background-color: #A71930;
}

.NFL-Falcons-secondary {
  background-color: #000000;
}

.NFL-Ravens-primary {
  background-color: #241773;
}

.NFL-Ravens-secondary {
  background-color: #9E7C0C;
}

.NFL-Bills-primary {
  background-color: #00338D;
}

.NFL-Bills-secondary {
  background-color: #C60C30;
}

.NFL-Panthers-primary {
  background-color: #0085CA;
}

.NFL-Panthers-secondary {
  background-color: #101820;
}

.NFL-Bears-primary {
  background-color: #0B162A;
}

.NFL-Bears-secondary {
  background-color: #C83803;
}

.NFL-Bengals-primary {
  background-color: #FB4F14;
}

.NFL-Bengals-secondary {
  background-color: #000000;
}

.NFL-Browns-primary {
  background-color: #311D00;
}

.NFL-Browns-secondary {
  background-color: #FF3C00;
}

.NFL-Cowboys-primary {
  background-color: #003594;
}

.NFL-Cowboys-secondary {
  background-color: #7F9695;
}

.NFL-Broncos-primary {
  background-color: #FB4F14;
}

.NFL-Broncos-secondary {
  background-color: #002244;
}

.NFL-Lions-primary {
  background-color: #0076B6;
}

.NFL-Lions-secondary {
  background-color: #B0B7BC;
}

.NFL-Packers-primary {
  background-color: #203731;
}

.NFL-Packers-secondary {
  background-color: #FFB612;
}

.NFL-Texans-primary {
  background-color: #03202F;
}

.NFL-Texans-secondary {
  background-color: #A71930;
}

.NFL-Colts-primary {
  background-color: #002C5F;
}

.NFL-Colts-secondary {
  background-color: #A2AAAD;
}

.NFL-Jaguars-primary {
  background-color: #D7A22A;
}

.NFL-Jaguars-secondary {
  background-color: #006778;
}

.NFL-Chiefs-primary {
  background-color: #E31837;
}

.NFL-Chiefs-secondary {
  background-color: #FFB81C;
}

.NFL-Chargers-primary {
  background-color: #002A5E;
}

.NFL-Chargers-secondary {
  background-color: #FFC20E;
}

.NFL-Rams-primary {
  background-color: #002244;
}

.NFL-Rams-secondary {
  background-color: #866D4B;
}

.NFL-Dolphins-primary {
  background-color: #008E97
}

.NFL-Dolphins-secondary {
  background-color: #FC4C02;
}

.NFL-Vikings-primary {
  background-color: #4F2683;
}

.NFL-Vikings-secondary {
  background-color: #FFC62F;
}

.NFL-Patriots-primary {
  background-color: #002244;
}

.NFL-Patriots-secondary {
  background-color: #C60C30;
}

.NFL-Saints-primary {
  background-color: #D3BC8D;
}

.NFL-Saints-secondary {
  background-color: #101820;
}

.NFL-Giants-primary {
  background-color: #0B2265;
}

.NFL-Giants-secondary {
  background-color: #A71930;
}

.NFL-Jets-primary {
  background-color: #125740;
}

.NFL-Jets-secondary {
  background-color: #000000;
}

.NFL-Raiders-primary {
  background-color: #000000;
}

.NFL-Raiders-secondary {
  background-color: #A5ACAF;
}

.NFL-Eagles-primary {
  background-color: #004C54;
}

.NFL-Eagles-secondary {
  background-color: #A5ACAF;
}

.NFL-Steelers-primary {
  background-color: #FFB612;
}

.NFL-Steelers-secondary {
  background-color: #101820;
}

.NFL-49ers-primary {
  background-color: #AA0000;
}

.NFL-49ers-secondary {
  background-color: #B3995D;
}

.NFL-Seahawks-primary {
  background-color: #002244;
}

.NFL-Seahawks-secondary {
  background-color: #69BE28;
}

.NFL-Buccaneers-primary {
  background-color: #D50A0A;
}

.NFL-Buccaneers-secondary {
  background-color: #FF7900;
}

.NFL-Titans-primary {
  background-color: #0C2340;
}

.NFL-Titans-secondary {
  background-color: #418FDE;
}

.NFL-Redskins-primary {
  background-color: #773141;
}

.NFL-Redskins-secondary {
  background-color: #FFB612;
}