.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.carousel-indicators {
  filter: invert(100%);
  bottom: -22px;
}

.truncate-hash {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.diamond.second-base {
  border: 19.5px solid transparent;
  border-bottom: 19.5px solid #CBCCCE;
  box-sizing: border-box;
  clear: both;
  color: #6C6D6F;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 0;
  line-height: inherit;
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: -3px;
  vertical-align: baseline;
  width: 0;
}

div.diamond.second-base:after {
  border: 19.5px solid transparent;
  border-top: 19.5px solid #CBCCCE;
  content: "";
  height: 0;
  left: -19.5px;
  position: absolute;
  top: 19.5px;
  width: 0;
}

div.diamond.second-base.active {
  border: 19.5px solid transparent;
  border-bottom: 19.5px solid #0066CC;
  box-sizing: border-box;
  clear: both;
  color: #6C6D6F;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 0;
  line-height: inherit;
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: -3px;
  vertical-align: baseline;
  width: 0;
}

div.diamond.second-base.active:after {
  border: 19.5px solid transparent;
  border-top: 19.5px solid #0066CC;
  content: "";
  height: 0;
  left: -19.5px;
  position: absolute;
  top: 19.5px;
  width: 0;
}

div.diamond.third-base {
  border: 19.5px solid transparent;
  border-bottom: 19.5px solid #CBCCCE;
  box-sizing: border-box;
  color: #6C6D6F;
  float: left;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 0;
  line-height: inherit;
  margin: 0 6px 0 0;
  padding: 0;
  position: relative;
  top: -19.5px;
  vertical-align: baseline;
  width: 0;
}

div.diamond.third-base:after {
  border: 19.5px solid transparent;
  border-top: 19.5px solid #CBCCCE;
  content: "";
  height: 0;
  left: -19.5px;
  position: absolute;
  top: 19.5px;
  width: 0;
}

div.diamond.third-base.active {
  border: 19.5px solid transparent;
  border-bottom: 19.5px solid #0066CC;
  box-sizing: border-box;
  color: #6C6D6F;
  float: left;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 0;
  line-height: inherit;
  margin: 0 6px 0 0;
  padding: 0;
  position: relative;
  top: -19.5px;
  vertical-align: baseline;
  width: 0;
}

div.diamond.third-base.active:after {
  border: 19.5px solid transparent;
  border-top: 19.5px solid #0066CC;
  content: "";
  height: 0;
  left: -19.5px;
  position: absolute;
  top: 19.5px;
  width: 0;
}

div.diamond.first-base {
  border: 19.5px solid transparent;
  border-bottom: 19.5px solid #CBCCCE;
  box-sizing: border-box;
  color: #6C6D6F;
  float: right;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 0;
  line-height: inherit;
  margin: 0;
  padding: 0;
  position: relative;
  top: -19.5px;
  vertical-align: baseline;
  width: 0;
}

div.diamond.first-base:after {
  border: 19.5px solid transparent;
  border-top: 19.5px solid #CBCCCE;
  content: "";
  height: 0;
  left: -19.5px;
  position: absolute;
  top: 19.5px;
  width: 0;
}

div.diamond.first-base.active {
  border: 19.5px solid transparent;
  border-bottom: 19.5px solid #0066CC;
  box-sizing: border-box;
  color: #6C6D6F;
  float: right;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 0;
  line-height: inherit;
  margin: 0;
  padding: 0;
  position: relative;
  top: -19.5px;
  vertical-align: baseline;
  width: 0;
}

div.diamond.first-base.active:after {
  border: 19.5px solid transparent;
  border-top: 19.5px solid #0066CC;
  content: "";
  height: 0;
  left: -19.5px;
  position: absolute;
  top: 19.5px;
  width: 0;
}

div.circleGraphs {
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  float: right;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  overflow: hidden;
  padding: 3px 0 7.5px;
  vertical-align: baseline;
  width: auto;
}

div.circleGraph.four {
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  float: none;
  font-family: inherit;
  font-size: 15px;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  line-height: 16.5px;
  margin: 0 9px 7.5px 0;
  overflow: hidden;
  padding: 0;
  vertical-align: baseline;
  width: 96px;
}

span.abbrev {
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0 7.5px 0 0;
  padding: 0;
}

span.circle.balls.active {
  background-color: #009944;
  border-radius: 15px;
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 15px;
  line-height: inherit;
  margin: 0 4.5px 0 0;
  padding: 0;
  width: 15px;
}

span.circle.balls {
  background-color: #CBCCCE;
  border-radius: 15px;
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 15px;
  line-height: inherit;
  margin: 0 4.5px 0 0;
  padding: 0;
  width: 15px;
}

div.circleGraph {
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  float: none;
  font-family: inherit;
  font-size: 15px;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  line-height: 16.5px;
  margin: 0 9px 7.5px 0;
  overflow: hidden;
  padding: 0;
  vertical-align: baseline;
  width: auto;
}

span.circle.strikes.active {
  background-color: #DD0000;
  border-radius: 15px;
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 15px;
  line-height: inherit;
  margin: 0 4.5px 0 0;
  padding: 0;
  width: 15px;
}

span.circle.strikes {
  background-color: #CBCCCE;
  border-radius: 15px;
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 15px;
  line-height: inherit;
  margin: 0 4.5px 0 0;
  padding: 0;
  width: 15px;
}

span.circle.outs.active {
  background-color: #DD0000;
  border-radius: 15px;
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 15px;
  line-height: inherit;
  margin: 0 4.5px 0 0;
  padding: 0;
  width: 15px;
}

span.circle.outs {
  background-color: #CBCCCE;
  border-radius: 15px;
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 15px;
  line-height: inherit;
  margin: 0 4.5px 0 0;
  padding: 0;
  width: 15px;
}

span.Athlete__Star {
  -webkit-tap-highlight-color: transparent;
  background-color: initial;
  background-image: url(https://a.espncdn.com/redesign/assets/img/svg/Star.svg);
  background-repeat: no-repeat no-repeat;
  background-size: contain;
  color: #151617;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 12px;
  line-height: 18.4px;
  text-indent: -9999px;
  width: 12px;
}


span.winIndicator {
  width: 0;
  height: 0;
  margin-right: 0;
  margin-bottom: 7px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid black;
}

span.winIndicatorMLB {
  width: 0;
  height: 0;
  margin-left: 4px;
  margin-right: 0;
  margin-bottom: 7px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid black;
}

figcaption.highlightVideoText {
  position: absolute;
  bottom: 1rem;
  margin: 0 1rem;
  color: white;
  font-size: .9em;
}

span.video-play-button {
  border-width: 0;
  bottom: 0;
  box-sizing: border-box;
  color: #48494A;
  cursor: pointer;
  font-family: -apple-system, system-ui, Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0;
  font-weight: 600;
  left: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(1);
  transition: transform .1s ease-in-out;
  vertical-align: baseline;
}

span.video-play-button:before {
  backface-visibility: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  content: "";
  font-size: 0;
  height: 32px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) scale(1) translateZ(0);
  transform-origin: 50% 0%;
  transform-style: preserve-3d;
  transition: transform .2s;
  width: 32px;
}

span.video-play-button:after {
  background-color: initial;
  background-image: url(https://a.espncdn.com/redesign/assets/img/icons/controls__play.svg);
  background-position: center center;
  background-repeat: no-repeat no-repeat;
  color: #48494A;
  content: "";
  height: 15px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: -2px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%) scale(1) translateZ(0);
  transform-origin: 50% 0%;
  transition: transform .2s;
  width: 15px;
}

span.video-play-button:hover {
  transform: scale(1.1);
}


div.chart-relative {
  position: relative;
}

div.chart-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.chart-text-center {
  text-align: center;
}

div.data-chart {
  border-width: 0;
  box-sizing: border-box;
  color: #48494A;
  display: inline-block;
  font-family: -apple-system, system-ui, Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 100%;
  font-weight: 400;
  height: 80px;
  line-height: normal;
  margin: 0;
  min-height: 80px;
  min-width: 80px;
  padding: 0;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 80px;
}

div.inner-circle {
  background-color: #FFFFFF;
  border-radius: 50%;
  border-width: 0;
  bottom: 6%;
  box-sizing: border-box;
  color: #48494A;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  left: 9%;
  line-height: inherit;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 9%;
  text-align: center;
  top: 12%;
  vertical-align: baseline;
  z-index: 1000;
}

span.home-team {
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  display: block;
  font-family: inherit;
  font-size: 10px;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: 600;
  left: 0;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  top: calc(50% - 4.5px);
  vertical-align: baseline;
  width: 50%;
}

span.home-team:after {
  border-left: 1px dotted #DCDDDF;
  bottom: -25px;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -25px;
  width: 0;
}

span.away-team {
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  display: block;
  font-family: inherit;
  font-size: 10px;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: calc(50% - 4.5px);
  vertical-align: baseline;
  width: 50%;
}


section.sb-detail {
  box-sizing: border-box;
  color: #48494A;
  display: block;
  float: left;
  font-family: -apple-system, system-ui, Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 159px;
  overflow: hidden;
  padding: 9px 9px 0;
  width: 225px;
}

div.football-drivechart.play-by-play.players {
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  font-family: inherit;
  font-size: 11px;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 100%;
  line-height: inherit;
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: baseline;
}

div.drivechart {
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 58px;
  line-height: inherit;
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: baseline;
}

span.football-bar {
  background-color: #CBCCCE;
  border-radius: 4px;
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 6px;
  left: 0;
  line-height: inherit;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 30px;
  vertical-align: baseline;
}

div.football-progress-wrap {
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 8px;
  left: 18px;
  line-height: inherit;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 17px;
  top: 29px;
  vertical-align: baseline;
  z-index: 1;
}

span.football-progress {
  background-color: #48494A;
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  display: block;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: inherit;
  left: 55%;
  line-height: inherit;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 34%;
  transition: all .9s ease-in-out;
  vertical-align: baseline;
}

div.football-logo-wrap.home {
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 28px;
  left: 55%;
  line-height: inherit;
  margin: 0 0 0 -12px;
  padding: 0;
  perspective: 1000px;
  position: absolute;
  top: -30px;
  transition: left .9s ease-in-out;
  vertical-align: baseline;
  width: 23px;
}

div.football-logo-wrap.away {
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 28px;
  left: 43%;
  line-height: inherit;
  margin: 0 0 0 -12px;
  padding: 0;
  perspective: 1000px;
  position: absolute;
  top: -30px;
  transition: left .9s ease-in-out;
  vertical-align: baseline;
  width: 23px;
}

div.football-logo {
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 28px;
  line-height: inherit;
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: baseline;
  width: 24px;
}

div.football-front {
  backface-visibility: hidden;
  background-color: initial;
  background-image: url(https://a.espncdn.com/redesign/assets/img/icons/teardrop.svg);
  background-repeat: no-repeat no-repeat;
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 28px;
  left: 0;
  line-height: inherit;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition: all .9s ease-in-out;
  vertical-align: baseline;
  width: 23px;
  z-index: 2;
}

img.focus-image.scoreboard-logo-home.imageLoaded {
  border-width: 0;
  bottom: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  font-family: -apple-system, system-ui, Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  left: 0;
  margin: 0 2px;
  max-width: 35px;
  position: absolute;
  right: 0;
  top: 2px;
  width: 80%;
}

div.football-logo-placeholder {
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  display: none;
  font-family: inherit;
  font-size: 6px;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 8px 0 0;
  text-align: center;
  vertical-align: baseline;
}

div.football-back {
  backface-visibility: hidden;
  background-color: initial;
  background-image: url(https://a.espncdn.com/redesign/assets/img/icons/teardrop.svg);
  background-repeat: no-repeat no-repeat;
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 28px;
  left: 0;
  line-height: inherit;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: all .9s ease-in-out;
  vertical-align: baseline;
  width: 23px;
}

img.focus-image.scoreboard-logo-away.imageLoaded {
  border-width: 0;
  bottom: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  font-family: -apple-system, system-ui, Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  left: 0;
  margin: 0 2px;
  max-width: 35px;
  position: absolute;
  right: 0;
  top: 2px;
  width: 80%;
}

span.football-arrow.left {
  border-color: transparent #48494A transparent transparent;
  border-style: solid;
  border-width: 5px 9px 5px 0;
  box-sizing: border-box;
  color: #6C6D6F;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 0;
  left: -13px;
  line-height: inherit;
  margin: 0;
  opacity: 1;
  padding: 0;
  position: absolute;
  right: 0;
  top: 6px;
  transition: all .25s ease-in-out;
  vertical-align: baseline;
  width: 0;
}

span.football-arrow.right {
  border-color: transparent transparent transparent #DD0000;
  border-style: solid;
  border-width: 5px 0 5px 9px;
  box-sizing: border-box;
  color: #6C6D6F;
  display: block;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  height: 0;
  left: 28px;
  line-height: inherit;
  margin: 0;
  opacity: 1;
  padding: 0;
  position: absolute;
  right: 0;
  top: 6px;
  transition: all .25s ease-in-out;
  vertical-align: baseline;
  width: 0;
}

ul.markers {
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  font-family: inherit;
  font-size: 9px;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  left: 9px;
  line-height: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 43px;
  vertical-align: baseline;
}

li.marker-list {
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  float: left;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  line-height: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  vertical-align: baseline;
  width: 17px
}

li.marker-list:before {
  background-color: #CBCCCE;
  content: "";
  display: block;
  height: 15px;
  left: 50%;
  position: absolute;
  top: -18px;
  width: 1px;
}

li.red-zone-away {
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  float: left;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  line-height: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  vertical-align: baseline;
  width: 17px;
}

li.red-zone-away:before {
  background-color: #CBCCCE;
  content: "";
  display: block;
  height: 15px;
  left: 50%;
  position: absolute;
  top: -18px;
  width: 1px;
}

li.red-zone-home {
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  float: left;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  line-height: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  vertical-align: baseline;
  width: 17px;
}

li.red-zone-home:before {
  background-color: #CBCCCE;
  content: "";
  display: block;
  height: 15px;
  left: 50%;
  position: absolute;
  top: -18px;
  width: 1px;
}

div.down {
  border-bottom: 1px solid #CBCCCE;
  border-top: 1px solid #CBCCCE;
  box-sizing: border-box;
  color: #48494A;
  display: block;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: 600;
  line-height: inherit;
  margin: 0;
  padding: 4px;
  text-align: center;
  vertical-align: baseline;
}

p.last-play {
  border-width: 0;
  bottom: 5px;
  box-sizing: content-box;
  clear: both;
  color: #6C6D6F;
  display: block;
  font-family: inherit;
  font-size: 11px;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 10px 0 0;
  overflow-y: auto;
  padding: 7px 0 0;
  position: absolute;
  top: 75px;
  vertical-align: baseline;
  width: 100%;
}

span.title {
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: 600;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  vertical-align: baseline;
}

span.text {
  border-width: 0;
  box-sizing: border-box;
  color: #6C6D6F;
  font-family: inherit;
  font-size: 100%;
  font-stretch: inherit;
  font-style: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-ligatures: inherit;
  font-variant-numeric: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.nav-pills .nav-link.active {
  background-color: #23CCEF !important;
}